/*
// Path pattern:
// Insertion position: Head of all pages
// Type:               CSS
// Comment:            Fixes for RTL design
*/
html[dir="rtl"],
html:has(head link[rel="stylesheet"][href*="/rtl"]) {
  .icon-only {
    padding-inline-start: 16px;
    padding-inline-end: 0;
  }
  a.sort {
    background-position: left 50%;
  }
  .pagination {
    margin-right: 3px;
    margin-left: 0;
    ul.pages {
      margin: 0 0 0 5px;
    }
  }
  .contextual .drdn-content {
    inset-inline-start: auto;
    inset-inline-end: 0;

    a.icon {
      padding-inline-start: 24px;
      padding-inline-end: 0;
      background-position-x: calc(100% - 4px);

      /* Support for Redmine 6+ */
      &:has(svg) {
        padding-inline-start: 0;
      }
    }
  }
  table.list.issues > tbody > tr > td:not(.checkbox) {
    padding-inline-start: 0;
    padding-inline-end: 10px;
  }

  /* Issue view */
  body.avatars-on div.journal {
    padding-inline-start: 32px;
    padding-inline-end: 0;
  }
  div.journal h4 img.gravatar {
    margin-inline-start: -32px;
    margin-inline-end: 0;
  }
  table.list td.buttons a,
  div.buttons a {
    margin-inline-start: 0;
    margin-inline-end: 0.6em;
  }
  #issue-form {
    input[type="submit"] {
      margin-inline-start: 20px;
      margin-inline-end: auto;
    }
  }
  #issue_is_private_wrap {
    float: left;
  }
  @media screen and (max-width: 899px) {
    /* tabular forms resets for mobile */
    .tabular p,
    .tabular.settings p {
      padding-inline-start: 0;
    }
    .tabular label,
    .tabular.settings label {
      margin-inline-start: 0;
      margin-inline-end: 0;
      text-align: right;
    }
    #header {
      padding: 0;
    }
  }
  .ui-dialog .ui-dialog-title {
    float: right;
  }
  .ui-dialog .ui-dialog-titlebar-close {
    inset-inline-start: auto;
    inset-inline-end: 0.3em;
  }
  .contextual > *:not(:first-child),
  .buttons > .icon:not(:first-child),
  .contextual .journal-actions > *:not(:first-child) {
    margin-inline-start: 5px;
    margin-inline-end: 0;
  }

  /* Roadmap view */
  div#roadmap h3.version {
    padding-inline-start: 20px;
    padding-inline-end: 0;
  }

  /* Support for Redmine 6+ */
  #ajax-indicator span:has(svg) {
    background-image: none !important;
  }
}
